@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Ubuntu", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

header {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: white;
}
header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  position: relative;
}
header .header-wrapper .logo-wrapper {
  display: flex;
  align-items: center;
  color: #1f2544;
  font-size: 1.3rem;
  font-weight: 500;
}
header .header-wrapper .logo-wrapper img {
  width: 60px;
  height: 60px;
}
header .header-wrapper nav ul {
  display: flex;
}
header .header-wrapper nav ul li {
  margin-inline: 1em;
}
header .header-wrapper nav ul li a {
  color: #474f7a;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}
header .header-wrapper nav ul li a:hover {
  border-bottom: 2px solid #474f7a;
}
header .header-wrapper nav ul li:last-child a {
  background-color: #474f7a;
  border: 2px solid transparent;
  color: white;
  padding: 0.5em;
  border-radius: 20px;
}
header .header-wrapper nav ul li:last-child a:hover {
  background-color: white;
  color: #474f7a;
  border: 2px solid #474f7a;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 960px) {
  header .header-wrapper nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: transform 0.5s ease-in-out;
  }
  header .header-wrapper nav ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  header .header-wrapper nav ul li#cv {
    margin-top: 6px;
  }
}
header .header-wrapper input[type=checkbox] {
  cursor: pointer;
  display: none;
  opacity: 0;
  width: 40px;
  height: 32px;
  z-index: 2;
  position: absolute;
  right: 5%;
}
@media (max-width: 960px) {
  header .header-wrapper input[type=checkbox] {
    display: block;
  }
}
header .header-wrapper .hamburger-menu {
  display: none;
  position: absolute;
  right: 5%;
  width: 40px;
  height: 32px;
}
header .header-wrapper .hamburger-menu span {
  background-color: black;
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 3px;
  z-index: 1;
  border-radius: 20px;
}
header .header-wrapper .hamburger-menu span:first-of-type {
  transform-origin: 0% 0%;
  transition: all 0.3s ease-in-out;
  top: 0;
}
header .header-wrapper .hamburger-menu span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
header .header-wrapper .hamburger-menu span:last-of-type {
  transform-origin: 0% 100%;
  transition: all 0.3s ease-in-out;
  bottom: 0;
}
@media (max-width: 960px) {
  header .header-wrapper .hamburger-menu {
    display: block;
  }
}
@media (max-width: 960px) {
  header .header-wrapper input[type=checkbox]:checked ~ .hamburger-menu span:first-of-type {
    transform: rotate(45deg);
    width: 43px;
  }
  header .header-wrapper input[type=checkbox]:checked ~ .hamburger-menu span:nth-of-type(2) {
    display: none;
  }
  header .header-wrapper input[type=checkbox]:checked ~ .hamburger-menu span:last-of-type {
    transform: rotate(-45deg);
    width: 43px;
  }
  header .header-wrapper input[type=checkbox]:checked ~ nav {
    transform: translate(-50%, 90%);
    background-color: white;
  }
}