@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  font-family: "Ubuntu", sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

header {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: white;
}
header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  position: relative;
}
header .header-wrapper .logo-wrapper {
  display: flex;
  align-items: center;
  color: #1f2544;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: default;
}
header .header-wrapper .logo-wrapper img {
  width: 60px;
  height: 60px;
}
header .header-wrapper nav ul {
  display: flex;
}
header .header-wrapper nav ul li {
  margin-inline: 1em;
}
header .header-wrapper nav ul li a {
  color: #474f7a;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}
header .header-wrapper nav ul li a:hover {
  color: #1f2544;
  border-bottom: 2px solid #1f2544;
}
header .header-wrapper nav ul li:last-child a {
  background-color: #474f7a;
  border: 2px solid transparent;
  color: white;
  padding: 0.5em;
  border-radius: 20px;
}
header .header-wrapper nav ul li:last-child a:hover {
  background-color: white;
  color: #474f7a;
  border: 2px solid #474f7a;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 375px) {
  header .header-wrapper nav ul li:last-child a {
    font-size: 0.8rem;
  }
}
@media (max-width: 960px) {
  header .header-wrapper nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: transform 0.5s ease-in-out;
    opacity: 0;
  }
  header .header-wrapper nav ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  header .header-wrapper nav ul li#cv {
    margin-top: 6px;
  }
}
header .header-wrapper input[type=checkbox] {
  cursor: pointer;
  display: none;
  opacity: 0;
  width: 40px;
  height: 32px;
  z-index: 2;
  position: absolute;
  right: 5%;
}
@media (max-width: 960px) {
  header .header-wrapper input[type=checkbox] {
    display: block;
  }
}
header .header-wrapper .hamburger-menu {
  display: none;
  position: absolute;
  right: 5%;
  width: 40px;
  height: 32px;
}
header .header-wrapper .hamburger-menu span {
  background-color: black;
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 3px;
  z-index: 1;
  border-radius: 20px;
}
header .header-wrapper .hamburger-menu span:first-of-type {
  transform-origin: 0% 0%;
  transition: all 0.3s ease-in-out;
  top: 0;
}
header .header-wrapper .hamburger-menu span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
header .header-wrapper .hamburger-menu span:last-of-type {
  transform-origin: 0% 100%;
  transition: all 0.3s ease-in-out;
  bottom: 0;
}
@media (max-width: 960px) {
  header .header-wrapper .hamburger-menu {
    display: block;
  }
}
@media (max-width: 960px) {
  header .header-wrapper input[type=checkbox]:checked ~ .hamburger-menu span:first-of-type {
    transform: rotate(45deg);
    width: 43px;
  }
  header .header-wrapper input[type=checkbox]:checked ~ .hamburger-menu span:nth-of-type(2) {
    display: none;
  }
  header .header-wrapper input[type=checkbox]:checked ~ .hamburger-menu span:last-of-type {
    transform: rotate(-45deg);
    width: 43px;
  }
  header .header-wrapper input[type=checkbox]:checked ~ nav {
    transform: translate(-50%, 55%);
    transition: background-color 0.2s ease-in-out;
    background-color: rgba(237, 231, 231, 0.596);
    opacity: 1;
  }
}
@media (max-width: 960px) and (max-width: 380px) {
  header .header-wrapper input[type=checkbox]:checked ~ nav {
    transform: translate(-50%, 60%);
  }
}
@media (max-width: 960px) and (max-width: 360px) {
  header .header-wrapper input[type=checkbox]:checked ~ nav {
    transform: translate(-50%, 57%);
  }
}
@media (max-width: 960px) {
  header .header-wrapper nav {
    width: 100%;
    height: 90vh;
    padding-top: 6em;
  }
  header .header-wrapper nav ul {
    background-color: white;
    padding: 3em;
    width: fit-content;
    margin: auto;
    border: 2px solid #1f2544;
  }
}

#home {
  padding-top: 8em;
}
#home .home-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2em 5em;
}
#home .home-wrapper .home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1 1 50%;
}
#home .home-wrapper .home-content h1 {
  font-size: 3.6rem;
  align-self: flex-start;
  cursor: default;
}
@media (max-width: 1040px) {
  #home .home-wrapper .home-content h1 {
    font-size: 3rem;
  }
}
#home .home-wrapper .home-content h3 {
  font-size: 2.2rem;
  align-self: center;
  cursor: default;
}
@media (max-width: 1040px) {
  #home .home-wrapper .home-content h3 {
    font-size: 2rem;
  }
}
#home .home-wrapper .home-content .home-btns {
  margin-top: 1em;
}
#home .home-wrapper .home-content .home-btns a {
  margin-inline: 0.3em;
  padding: 0.6em 0.8em;
  border-radius: 20px;
}
#home .home-wrapper .home-content .home-btns .contact-btn {
  background-color: white;
  border: 2px solid #474f7a;
  color: #474f7a;
  transition: background-color 0.3s ease-in-out;
}
#home .home-wrapper .home-content .home-btns .contact-btn:hover {
  background-color: #474f7a;
  color: white;
}
#home .home-wrapper .home-content .home-btns .cv-btn {
  background-color: #474f7a;
  border: 2px solid transparent;
  color: white;
  transition: background-color 0.3s ease-in-out;
}
#home .home-wrapper .home-content .home-btns .cv-btn:hover {
  background-color: #1f2544;
}
#home .home-wrapper .home-content .home-links {
  margin-top: 1.2em;
}
#home .home-wrapper .home-content .home-links a {
  margin-inline: 0.3em;
  font-size: 1.8rem;
  color: #1f2544;
  transition: color 0.3s ease-in-out;
}
#home .home-wrapper .home-content .home-links a:hover {
  color: #474f7a;
}
@media (max-width: 960px) {
  #home .home-wrapper .home-content h1 {
    font-size: 3rem;
  }
  #home .home-wrapper .home-content h3 {
    font-size: 1.8rem;
  }
}
@media (max-width: 750px) {
  #home .home-wrapper .home-content h1 {
    font-size: 2.5rem;
  }
  #home .home-wrapper .home-content h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 530px) {
  #home .home-wrapper .home-content h1 {
    font-size: 2rem;
    align-self: center;
  }
  #home .home-wrapper .home-content h3 {
    font-size: 1.4rem;
  }
  #home .home-wrapper .home-content .home-btns a {
    padding: 0.4em 0.6em;
  }
}
@media (max-width: 355px) {
  #home .home-wrapper .home-content h3 {
    font-size: 1.2rem;
  }
  #home .home-wrapper .home-content .home-btns a {
    padding: 0.2em 0.4em;
    font-size: 0.9rem;
  }
}
#home .home-wrapper .img-content {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .home-wrapper .img-content img {
  width: 65%;
  z-index: 2;
}
@media (max-width: 960px) {
  #home .home-wrapper {
    padding: 3em 3em;
  }
}
@media (max-width: 720px) {
  #home .home-wrapper {
    flex-direction: column-reverse;
    padding: 1em 3em;
    gap: 30px;
  }
  #home .home-wrapper .img-content img {
    width: 50%;
  }
}
@media (max-width: 530px) {
  #home .home-wrapper .img-content img {
    width: 60%;
  }
}
@media (max-width: 480px) {
  #home .home-wrapper .img-content img {
    width: 70%;
  }
}
@media (max-width: 400px) {
  #home .home-wrapper .img-content img {
    width: 80%;
  }
}

#about {
  padding-top: 6em;
}
#about .about-headings {
  text-align: center;
  margin-bottom: 1.5em;
}
#about .about-headings p {
  font-size: 1.2rem;
}
#about .about-headings h3 {
  font-size: 3.2rem;
  cursor: default;
}
@media (max-width: 480px) {
  #about .about-headings h3 {
    font-size: 3rem;
  }
}
#about .about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#about .about-wrapper .img-content {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about .about-wrapper .img-content img {
  width: 100%;
}
@media (max-width: 720px) {
  #about .about-wrapper .img-content {
    display: none;
  }
}
#about .about-wrapper .about-content {
  flex: 1 1 50%;
  padding-right: 10em;
}
@media (max-width: 1050px) {
  #about .about-wrapper .about-content {
    padding-right: 7em;
  }
}
@media (max-width: 1025px) {
  #about .about-wrapper .about-content {
    padding-right: 5em;
  }
}
@media (max-width: 820px) {
  #about .about-wrapper .about-content {
    padding-right: 3em;
  }
}
#about .about-wrapper .about-content .about-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
#about .about-wrapper .about-content .about-boxes div {
  border: 2px solid rgba(31, 37, 68, 0.3);
  border-radius: 10px;
  margin-bottom: 1.5em;
}
#about .about-wrapper .about-content .about-boxes div i {
  font-size: 1.8rem;
  color: #1f2544;
  margin-bottom: 0.3em;
}
#about .about-wrapper .about-content .about-boxes div h4 {
  font-size: 1.4rem;
  margin-bottom: 0.2em;
  color: #1f2544;
  cursor: default;
}
#about .about-wrapper .about-content .about-boxes div p {
  color: #474f7a;
  white-space: nowrap;
}
#about .about-wrapper .about-content .about-boxes .experience {
  padding: 2em 2.5em;
}
#about .about-wrapper .about-content .about-boxes .education {
  padding: 2em;
}
@media (max-width: 1010px) {
  #about .about-wrapper .about-content .about-boxes .experience {
    padding: 1.5em;
  }
  #about .about-wrapper .about-content .about-boxes .education {
    padding: 1.5em;
  }
}
@media (max-width: 860px) {
  #about .about-wrapper .about-content .about-boxes .experience {
    padding: 1em;
  }
  #about .about-wrapper .about-content .about-boxes .education {
    padding: 1em;
  }
}
@media (max-width: 800px) {
  #about .about-wrapper .about-content .about-boxes div i {
    font-size: 1.6rem;
  }
  #about .about-wrapper .about-content .about-boxes div h4 {
    font-size: 1.2rem;
  }
  #about .about-wrapper .about-content .about-boxes div p {
    font-size: 0.9rem;
  }
  #about .about-wrapper .about-content .about-boxes .experience {
    padding: 0.6em;
  }
  #about .about-wrapper .about-content .about-boxes .education {
    padding: 0.6em;
  }
}
@media (max-width: 720px) {
  #about .about-wrapper .about-content .about-boxes div i {
    font-size: 1.8rem;
  }
  #about .about-wrapper .about-content .about-boxes div h4 {
    font-size: 1.6rem;
  }
  #about .about-wrapper .about-content .about-boxes div p {
    font-size: 1rem;
  }
  #about .about-wrapper .about-content .about-boxes .experience {
    padding: 1.4em;
  }
  #about .about-wrapper .about-content .about-boxes .education {
    padding: 1.4em;
  }
}
@media (max-width: 520px) {
  #about .about-wrapper .about-content .about-boxes div h4 {
    font-size: 1.4rem;
  }
  #about .about-wrapper .about-content .about-boxes div p {
    font-size: 0.9rem;
  }
  #about .about-wrapper .about-content .about-boxes .experience {
    padding: 1em;
  }
  #about .about-wrapper .about-content .about-boxes .education {
    padding: 1em;
  }
}
#about .about-wrapper .about-content .about-text p {
  text-align: justify;
}
@media (max-width: 720px) {
  #about .about-wrapper .about-content .about-text {
    width: 60%;
    margin: auto;
  }
}
@media (max-width: 480px) {
  #about .about-wrapper .about-content .about-text {
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 720px) {
  #about .about-wrapper .about-content {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  #about {
    padding-top: 4em;
  }
}
#skills {
  padding-top: 6em;
}
#skills .skills-headings {
  text-align: center;
  margin-bottom: 1.5em;
}
#skills .skills-headings p {
  font-size: 1.2rem;
}
#skills .skills-headings h3 {
  font-size: 3.2rem;
  cursor: default;
}
@media (max-width: 480px) {
  #skills .skills-headings h3 {
    font-size: 3rem;
  }
}
#skills .skills-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
#skills .skills-wrapper > div {
  border: 2px solid rgba(31, 37, 68, 0.3);
  border-radius: 20px;
  padding: 2em 3em;
}
#skills .skills-wrapper > div h3 {
  color: #1f2544;
  text-align: center;
  font-size: 1.4rem;
  cursor: default;
  margin-bottom: 1em;
}
#skills .skills-wrapper > div .skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
#skills .skills-wrapper > div .skills-list .skill-wrapper {
  display: flex;
  gap: 10px;
}
#skills .skills-wrapper > div .skills-list .skill-wrapper i {
  font-size: 1.5rem;
  color: #1f2544;
}
#skills .skills-wrapper > div .skills-list .skill-wrapper .skill {
  align-self: flex-start;
}
#skills .skills-wrapper > div .skills-list .skill-wrapper .skill p:first-child {
  font-weight: 500;
  color: #1f2544;
  font-size: 1.2rem;
  margin-bottom: 0.3em;
}
#skills .skills-wrapper > div .skills-list .skill-wrapper .skill p:last-child {
  color: #474f7a;
  opacity: 0.9;
}
@media (max-width: 480px) {
  #skills .skills-wrapper > div .skills-list .skill-wrapper .skill p:first-child {
    font-size: 1rem;
  }
  #skills .skills-wrapper > div .skills-list .skill-wrapper .skill p:last-child {
    font-size: 0.9rem;
  }
}
@media (max-width: 480px) {
  #skills .skills-wrapper > div {
    padding: 2em 1.5em;
  }
}
@media (max-width: 365px) {
  #skills .skills-wrapper > div {
    padding: 2em 0.5em;
  }
}
#skills .skills-wrapper .mern-skills {
  margin-left: auto;
}
#skills .skills-wrapper .cs-skills {
  margin-right: auto;
  align-self: flex-start;
}
@media (max-width: 895px) {
  #skills .skills-wrapper .mern-skills {
    margin: auto;
    width: 70%;
  }
  #skills .skills-wrapper .cs-skills {
    margin: auto;
    width: 70%;
  }
}
@media (max-width: 480px) {
  #skills .skills-wrapper .mern-skills {
    width: 80%;
  }
  #skills .skills-wrapper .cs-skills {
    width: 80%;
  }
}
@media (max-width: 480px) {
  #skills .skills-wrapper {
    gap: 20px;
  }
}

#projects {
  padding-top: 6em;
}
#projects .projects-headings {
  text-align: center;
  margin-bottom: 1.5em;
}
#projects .projects-headings p {
  font-size: 1.2rem;
}
#projects .projects-headings h3 {
  font-size: 3.2rem;
  cursor: default;
}
@media (max-width: 480px) {
  #projects .projects-headings h3 {
    font-size: 3rem;
  }
}
#projects .projects-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 10px;
}
#projects .projects-wrapper button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
#projects .projects-wrapper .left-slider,
#projects .projects-wrapper .right-slider {
  flex: 1 1 25%;
  z-index: 1;
}
#projects .projects-wrapper .active-slider {
  flex: 1 1 50%;
  z-index: 2;
}
#projects .projects-wrapper .active-slider .img-content a {
  padding: 0.6em 1.2em;
}
@media (max-width: 860px) {
  #projects .projects-wrapper .left-slider {
    margin-left: 25px;
  }
  #projects .projects-wrapper .right-slider {
    margin-right: 25px;
  }
}
@media (max-width: 720px) {
  #projects .projects-wrapper .left-slider,
  #projects .projects-wrapper .right-slider {
    flex: 0;
    margin: unset;
    visibility: hidden;
  }
  #projects .projects-wrapper .active-slider {
    max-width: 85%;
    margin: auto;
    visibility: visible;
  }
}
#projects .projects-wrapper > div {
  position: relative;
  border: 2px solid #1f2544;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, translate 0.3s ease, scale 0.3s ease;
}
#projects .projects-wrapper > div img {
  display: block;
}
#projects .projects-wrapper > div .img-content {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
}
#projects .projects-wrapper > div .img-content a {
  margin-inline: 0.2em;
  padding: 0.3em 0.6em;
  border-radius: 20px;
  display: inline-block;
  background-color: #81689d;
  color: whitesmoke;
  transition: background-color 0.3s ease-in-out;
}
#projects .projects-wrapper > div .img-content a:hover {
  background-color: #1f2544;
  color: white;
}
#projects .projects-wrapper > div::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.623);
  opacity: 0;
}
#projects .projects-wrapper > div:hover::after {
  opacity: 1;
}
#projects .projects-wrapper > div:hover .img-content {
  opacity: 1;
}
#projects .projects-wrapper .slider-arrow {
  position: absolute;
  z-index: 3;
}
#projects .projects-wrapper .slider-arrow i {
  font-size: 1.6rem;
  color: #1f2544;
}
#projects .projects-wrapper .slider-arrow i:hover {
  transition: scale 0.3s ease-in-out;
  scale: 1.5;
}
#projects .projects-wrapper .arrow-left {
  left: 1%;
}
#projects .projects-wrapper .arrow-right {
  right: 1%;
}
@media (max-width: 720px) {
  #projects .projects-wrapper .arrow-left {
    left: 3%;
  }
  #projects .projects-wrapper .arrow-right {
    right: 3%;
  }
}
#projects .projects-wrapper:has(div:hover) > div {
  scale: 1.1;
}
#projects .projects-wrapper:has(div:hover) > div:not(:hover) {
  scale: 0.9;
  opacity: 0.8;
}
#projects .projects-wrapper:has(div:hover) > button i {
  color: white;
}
#projects .projects-wrapper:has(> button:hover) > div:not(:hover) {
  scale: 0.95;
}

#contact {
  padding-top: 6em;
}
#contact .contact-headings {
  text-align: center;
  margin-bottom: 1.5em;
}
#contact .contact-headings p {
  font-size: 1.2rem;
}
#contact .contact-headings h3 {
  font-size: 3.2rem;
  cursor: default;
}
@media (max-width: 480px) {
  #contact .contact-headings h3 {
    font-size: 3rem;
  }
}
#contact .contact-wrapper {
  border: 2px solid rgba(31, 37, 68, 0.3);
  width: fit-content;
  margin: auto;
  padding: 2em 3em;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
#contact .contact-wrapper i {
  font-size: 1.8rem;
  color: #1f2544;
}
#contact .contact-wrapper a {
  color: #1f2544;
  transition: color 0.2s ease-in-out;
  font-size: 1.15rem;
}
#contact .contact-wrapper a:hover {
  color: #474f7a;
}
#contact .contact-wrapper > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 550px) {
  #contact .contact-wrapper {
    max-width: 80%;
    padding: 2em 1.5em;
    justify-content: center;
  }
}

#footer {
  margin-top: 2.5em;
  padding: 1.5em;
  background-color: #1f2544;
  color: white;
  text-align: center;
}