/* project slider css  */
.right-next {
  width: 25%;
  right: 0;
}

.left-next {
  width: 25%;
  left: 0;
}

/* typewriter text css */
.typewriter-wrapper {
  height: 40px;
}

.text-1 {
  display: inline-block;
}