.left-un-active {
  translate: -100%;
}

.right-un-active {
  translate: 100%;
}

.center-to-left {
  translate: -20%;
  scale: 0.5;
}

.center-to-right {
  translate: 50%;
  scale: 0.5;
}

.right-next {
  width: 25%;
  right: 0;
}

.left-next {
  width: 25%;
  left: 0;
}
