*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: sans-serif;
    background-color: #1a1b1f;
    color: #ffffff;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 95%;
    margin: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 5px 10px 0px #353434;
}

.menu-items li{
    list-style: none;
    margin-left: 2.5rem;
    font-size: 1.8rem;
}

.navbar .navbar-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    transform: translateY(-150%);
    animation: nav-animation 1s ease-out forwards;
}

@keyframes nav-animation {
    100%{
        transform: translate(0);
    }
}

.navbar-container .nav-start{
    display: flex;
}

.nav-start .name{
    margin-left: 2.5rem;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    color: #ffffff;
    display: block;
    font-size: 1.6rem;
}

.nav-start a:hover{
    transition: color 0.5s ease-in;
    color: #ffffffcb;
}

.navbar-container .nav-end{
    display: flex;
}

.navbar-container .nav-end .menu-items{
    display: flex;
}

.menu-items a{
    text-decoration: none;
    padding: 0.5em 0.5em;
    display: block;
    color: #ffffff;
    font-weight: 500;
}

.menu-items a:hover{
    transition: color 0.5s ease-in;
    color: #ffffffcb;
}

.view-btn a{
    font-weight: 500;
    padding-top: 11px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 2.5rem;
    font-size: 1.6rem;
    color: black;
}

.view-btn a:hover{
    transition: color 0.5s ease-in, background 0.5s ease-in;
    color: rgba(0, 0, 0, 0.897);
    background:  #ffffffea;
}
